/* ========================================================================
Hero Banner Start
 ========================================================================== */
 #HeroBGPhoto {
background-position: bottom ;
 }

.heroValues {
  text-transform: uppercase !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  font-size: 1.5rem !important;
  text-shadow: -20px 10px 10px rgba(0, 0, 0, 0.9);
}

#heroValuesContainer em,
#heroValuesContainer h4 {
  display: inline;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
}

#heroBanner {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
  color: white;
  text-shadow: -20px 20px 20px rgba(0, 0, 0, 0.9);
}

#heroBanner h1 {
  font-family: fantasy;
  font-size: 10rem;
  letter-spacing: 0.2em !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

#heroArrow {
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  position: relative;
  text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 700px) {
  /* ========================================================================
  Hero Banner Start
   ========================================================================== */
   #HeroBGPhoto {
    background-position: center ;
     }

  .heroValues {
    font-size: .9rem !important;
  }

  #heroValuesContainer em,
  #heroValuesContainer h4 {
    font-size: 12px;
    line-height: 14px;
  }

  #heroBanner {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #heroBanner h1 {
    font-size: 5rem;
  }
  /* ========================================================================
Hero Banner End
   ========================================================================== */
}
