/* ========================================================================
Hero Banner Start
 ========================================================================== */
#heroBGPhoto {
  background-position: bottom;
}

.heroValues {
  text-transform: uppercase !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  font-size: 1.5rem !important;
  text-shadow: -20px 10px 10px rgba(0, 0, 0, 0.9);
}

#heroValuesContainer em,
#heroValuesContainer h4 {
  display: inline;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
}

#heroBanner {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
  color: white;
  text-shadow: -20px 20px 20px rgba(0, 0, 0, 0.9);
}

#heroBanner h1 {
  font-family: fantasy;
  font-size: 10rem;
  letter-spacing: 0.2em !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

#heroArrow {
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  position: relative;
  text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 767px) {
  #heroBGPhoto {
    background-position: center;
  }
  #heroBanner {
    margin-top: 20%;
    margin-bottom: 40%;
  }
  #heroBanner h1 {
    font-size: 2rem;
    letter-spacing: 0.2em !important;
  }
  .heroValues {
    font-size: .9rem !important;
  }
}
