.ImperioH {
  text-transform: uppercase !important;
  color: white !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

#EntireBG {
  background-image: url("https://images.pexels.com/photos/3985394/pexels-photo-3985394.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
}

nav {
  top: 0px;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 60px;
  position: sticky;
}

nav ul {
  list-style: none;
  color: white;
  font-size: larger;
  font-weight: bold;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  /* display: flex; */
}
nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul.navButton {
  text-align: right;
}

nav ul a {
  display: inline-block;
  padding: 10px;
  font-size: medium;
  color: white;
  text-decoration: none;
  position: relative;
}

nav ul a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000088;
  width: 0%;
  height: 5px;
  content: "";
  transition: 0.5s;
  /* text-decoration: none; */
}
nav ul a:hover::after {
  width: 100%;
  /* text-decoration: none; */
}

nav ul a:hover {
  color: #000088;
  text-decoration: none;
}

#heroBanner {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

#heroBanner h2 {
  color: white;
  font-family: cursive;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}
#heroBanner h1 {
  color: white;
  font-family: fantasy;
  font-size: 150px;
  letter-spacing: 0.2em !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

#lineBreak {
  margin: auto;
  color: white;
  border: solid;
  display: table;
  width: 25%;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

/* button outline has to be white */
#learn {
  /* color:white; */
  font: bold;
}

/* this overlay does not seem to be working right now.  */
#overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from (transparent) to (rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)) !important;
  bottom: 0;
  left: 0;
}

.techUsed {
  /* background: white; */
  background-image: url("https://images.pexels.com/photos/4006980/pexels-photo-4006980.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=800");
  margin-top: 5%;
  font-family: monospace;
  color: white;
}

.about {
  background: white;
  margin-top: 5%;
  font-family: monospace;
}

.aboutFt {
  text-align: center;
}

.aboutFT #lineBreak {
  margin: auto;
  color: orangered;
  border: solid;
  display: table;
  width: 25%;
}

.myProjects {
  background: white;
  margin-top: 5%;
  font-family: monospace;
}

#profilePhoto {
  display: inline-block;
  width: 250px;
  border: solid;
  border-color: #000088;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(168, 167, 167);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#sloganContainer em,
#sloganContainer h4 {
  display: inline;
  vertical-align: top;
  font-size: 16px;
  line-height: 28px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#testPlus {
  color: white !important;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
  position: relative;
}

#verticalLine {
  border-left: solid #000088;
}

#emphasis {
  font-size: 20px;
  font: bold;
  color: #000088;
}

#techPhoto {
  /* display: inline-block ; */
  /* width: 7px ; */
  height: 90px;
  border-radius: 500px;
  margin: 0 0.5em;
  background-color: white;
  /* vertical-align: baseline ; */
  border: solid;
  border-color: orange;
  /* filter: grayscale(100%); */
}
/* #techPhoto:hover {
  height: 90px ;
  border-radius: 500px ;
  margin: 0 0.5em ;
  background-color: transparent ;
  border: solid ;
  border-color: #000088;
  filter: none;
} */

#boderTech {
  background-color: rgb(0, 0, 136, 0.5);
  border-radius: 50px;
}

#projectA {
  /* display: inline-block;
    padding: 10px;
    font-size: medium;
    /* position: relative; */
  color: white;
  text-decoration: none;
}
