:root {
  --primary-black: rgba(0, 0, 0, 0.9);
}

/* ========================================================================
Portfolio Nav Bar Start
 ========================================================================== */
 #navOverEverything {
  z-index: 2;
}

 nav {
  top: 0px;
  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 60px;
  position: sticky;
}

nav ul {
  list-style: none;
  color: white;
  font-size: larger;
  font-weight: bold;
  -webkit-animation: fadein 3s !important;
  animation: fadein 3s;
}


nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul.navButton {
  text-align: right;
}

nav ul a {
  display: inline-block;
  padding: 10px;
  font-size: medium;
  color: #6c757d;
  text-decoration: none;
  position: relative;
}

nav ul a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  width: 0%;
  height: 5px;
  content: "";
  transition: 0.5s;
}
nav ul a:hover::after {
  width: 100%;
}

nav ul a:hover {
  color: white;
  text-decoration: none;
}

.smallTextNav {
  display: none;
}

.fName {
  font-family: 'Great Vibes', cursive;
  padding: 5px;
  font-size: 1.5em;
  color: white;
  position: relative;
}
.lName {
  font-family: 'Great Vibes', cursive;
  padding: 5px;
  font-size: 1.5em;
  color: white;
  position: relative;
}

.slashBar{
  font-family: 'Great Vibes', cursive;
  /* padding: 2.5px; */
  font-size: 2em;
}

/* ========================================================================
Portfolio Nav Bar End
 ========================================================================== */

/* this overlay does not seem to be working right now.  */
#overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from (transparent) to (rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)) !important;
  bottom: 0;
  left: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 700px) {
  /* ========================================================================
Portfolio Nav Bar Start
 ========================================================================== */
  nav {
    width: 100%;
    height: 40px;
  }

  nav ul {
    font-size: small;
  }

  nav ul li {
    padding: 5px;
  }

  nav ul a {
    padding: 5px;
    font-size: small;
  }
  .largeTextNav{
    display: none;
  }

  .smallTextNav{
    display: inline-block;
  }

  /* ========================================================================
Portfolio Nav Bar End
 ========================================================================== */
}
