#formContact {
  /* margin: 10px;  */
  padding: 1rem;
}

#contactBorder {
  padding: 2rem;

  /* height: 100%; */
}

.formHeader,
.formName,
.formEmail,
.formMessage, 
.formNumber
{
  color: white;
}

.form-control-rounded {
  border-radius: 100px;
}

#formContainer {
  border: solid;
  border-color: white;
  background-color: rgb(0, 0, 0, .7);
}

.iconSocial {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
}

.iconSocial:hover {
  background: #000088;
}

@media (max-width: 600px) {
  #contactBorder {
    padding: 1rem;
  
    /* margin-bottom: 1rem; */
  }
}
