.about {
    margin-top: 5%;
    padding-top: 5%;
    font-family: monospace;
  }
  
  .aboutFt {
    text-align: center;
  }
  

  #verticalLine {
    border-left: solid #000088;
  }
  
  #emphasis {
    font-size: 20px;
    font: bold;
    color: #000088;
  }

  #verticalLine p{
    font-size: 1rem;
  }

  /* #about {
    padding: 4%;
  } */

  @media (max-width: 600px) {
    /* ========================================================================
AboutMe Start
   ========================================================================== */
   .aboutFt h1 {
    font-size: 1 rem
  }
   .aboutFt h2 {
    font-size: .5 rem
  }

  #emphasis {
    font-size: 20px !important;
  }

  #verticalLine p{
    font-size: .7rem;
  }


  
    /* ========================================================================
AboutMe  End
   ========================================================================== */
  }
  