.about {
    margin-top: 5%;
    padding-top: 5%;
  }
  
  .aboutFt {
    text-align: center;
  }
  

  #verticalLine {
    border-left: solid white;
  }
  
  #emphasis {
    font-size: 20px;
    font: bold;
    color: white;
  }

  #verticalLine p{
    font-size: 1rem;
  }

  #aboutReel {
    color: white;
  }
  #aboutReel:after {
    content: "...";
    animation: spin 13s linear infinite;
  }

  @keyframes spin {
    10% {content: "A DEVELOPER";}
    20% {content: "A CRITICAL THINKER";}
    40% {content: "A TENNIS PLAYER";}
    50% {content: "AN ARTIST";}
    70% {content: "A PROBLEM SOLVER";}
    80% {content: "A CHEF";}
  } 

  .carlosPhoto {
    width:50%;
    height: 100%;
    border-radius: 50px;
  }

  .Resume {
    display: inline-block;
    padding: 10px;
    font-size: large;
  color: white;
  text-decoration: none;
  }


  @media (max-width: 700px) {
    /* ========================================================================
AboutMe Start
   ========================================================================== */
  #emphasis {
    font-size: 20px !important;
  }

  #verticalLine p{
    font-size: 1rem;
  }

  #aboutReel:after {
    content: "";
    animation: spin 13s linear infinite;
    font-size: 40px;
  }

    /* ========================================================================
AboutMe  End
   ========================================================================== */
  }
  